In [13]:
from dotenv import load_dotenv
load_dotenv()

True

In [14]:
import boto3
import os

s3_client = boto3.client('s3')

In [15]:
# list bucket names
buckets = s3_client.list_buckets()
for bucket in buckets['Buckets']:
    if 'techcatalyst' in bucket['Name']:
        print(bucket['Name'])

# list objects in a specific bucket "techcatalyst-raw" 
bucket_name = "techcatalyst-raw"
objects = s3_client.list_objects_v2(Bucket=bucket_name)
for obj in objects.get('Contents', []):
    print(obj['Key'])

# list objects that are CSV in a specific bucket "techcatalyst-raw" 
for obj in objects.get('Contents', []):
    if obj['Key'].endswith('.csv'):
        print(obj['Key'])

capstone-techcatalyst-conformed
capstone-techcatalyst-raw
capstone-techcatalyst-transformed
techcatalyst-public
techcatalyst-raw
techcatalyst-transformed
BLAKE/test.csv
BLAKE/test2.csv
BLAKE/test3.csv
BLAKE/test4.csv
BLAKE/test4.parquet/3eb3c7a40840497db7f67c4b60cb78d0.snappy.parquet
BLAKE/test_export.parquet
BLAKE/upload_file_method_GOOG.csv
BLAKE/upload_fileobj_method.txt
BLAKE_wr/9288e6c1eed4476d98eade7875cbf9c0.snappy.parquet
BLAKE_wr/uploads/wr_newfile.csv
Ben/Million_Songs/
Ben/bingchilling.txt
Ben/gooooog.csv
Ben/parquetGoogleStock/a0eeb97dbd854a5c9cc6e89512faee73.snappy.parquet
Ben/test.csv
Ben/uploads/Google_upload_test
EMMA/emna_goog.csv
EMMA/emna_goog.txt
EMMA/test_export.parquet
MELISSA/uploads/GOOG.csv
MillionSongSubset/
MillionSongSubset/log-data/2018-11-01-events.json
MillionSongSubset/log-data/2018-11-02-events.json
MillionSongSubset/log-data/2018-11-03-events.json
MillionSongSubset/log-data/2018-11-04-events.json
MillionSongSubset/log-data/2018-11-05-events.json
MillionSongSubset/log-data/2018-11-06-events.json
MillionSongSubset/log-data/2018-11-07-events.json
MillionSongSubset/log-data/2018-11-08-events.json
MillionSongSubset/log-data/2018-11-09-events.json
MillionSongSubset/log-data/2018-11-10-events.json
MillionSongSubset/log-data/2018-11-11-events.json
MillionSongSubset/log-data/2018-11-12-events.json
MillionSongSubset/log-data/2018-11-13-events.json
MillionSongSubset/log-data/2018-11-14-events.json
MillionSongSubset/log-data/2018-11-15-events.json
MillionSongSubset/log-data/2018-11-16-events.json
MillionSongSubset/log-data/2018-11-17-events.json
MillionSongSubset/log-data/2018-11-18-events.json
MillionSongSubset/log-data/2018-11-19-events.json
MillionSongSubset/log-data/2018-11-20-events.json
MillionSongSubset/log-data/2018-11-21-events.json
MillionSongSubset/log-data/2018-11-22-events.json
MillionSongSubset/log-data/2018-11-23-events.json
MillionSongSubset/log-data/2018-11-24-events.json
MillionSongSubset/log-data/2018-11-25-events.json
MillionSongSubset/log-data/2018-11-26-events.json
MillionSongSubset/log-data/2018-11-27-events.json
MillionSongSubset/log-data/2018-11-28-events.json
MillionSongSubset/log-data/2018-11-29-events.json
MillionSongSubset/log-data/2018-11-30-events.json
MillionSongSubset/song_data/A/A/A/TRAAAAW128F429D538.json
MillionSongSubset/song_data/A/A/A/TRAAABD128F429CF47.json
MillionSongSubset/song_data/A/A/A/TRAAADZ128F9348C2E.json
MillionSongSubset/song_data/A/A/A/TRAAAEF128F4273421.json
MillionSongSubset/song_data/A/A/A/TRAAAFD128F92F423A.json
MillionSongSubset/song_data/A/A/A/TRAAAMO128F1481E7F.json
MillionSongSubset/song_data/A/A/A/TRAAAMQ128F1460CD3.json
MillionSongSubset/song_data/A/A/A/TRAAAPK128E0786D96.json
MillionSongSubset/song_data/A/A/A/TRAAARJ128F9320760.json
MillionSongSubset/song_data/A/A/A/TRAAAVG12903CFA543.json
MillionSongSubset/song_data/A/A/A/TRAAAVO128F93133D4.json
MillionSongSubset/song_data/A/A/B/TRAABCL128F4286650.json
MillionSongSubset/song_data/A/A/B/TRAABDL12903CAABBA.json
MillionSongSubset/song_data/A/A/B/TRAABJL12903CDCF1A.json
MillionSongSubset/song_data/A/A/B/TRAABJV128F1460C49.json
MillionSongSubset/song_data/A/A/B/TRAABLR128F423B7E3.json
MillionSongSubset/song_data/A/A/B/TRAABNV128F425CEE1.json
MillionSongSubset/song_data/A/A/B/TRAABRB128F9306DD5.json
MillionSongSubset/song_data/A/A/B/TRAABVM128F92CA9DC.json
MillionSongSubset/song_data/A/A/B/TRAABXG128F9318EBD.json
MillionSongSubset/song_data/A/A/B/TRAABYN12903CFD305.json
MillionSongSubset/song_data/A/A/B/TRAABYW128F4244559.json
MillionSongSubset/song_data/A/A/C/TRAACCG128F92E8A55.json
MillionSongSubset/song_data/A/A/C/TRAACER128F4290F96.json
MillionSongSubset/song_data/A/A/C/TRAACFV128F935E50B.json
MillionSongSubset/song_data/A/A/C/TRAACHN128F1489601.json
MillionSongSubset/song_data/A/A/C/TRAACIW12903CC0F6D.json
MillionSongSubset/song_data/A/A/C/TRAACLV128F427E123.json
MillionSongSubset/song_data/A/A/C/TRAACNS128F14A2DF5.json
MillionSongSubset/song_data/A/A/C/TRAACOW128F933E35F.json
MillionSongSubset/song_data/A/A/C/TRAACPE128F421C1B9.json
MillionSongSubset/song_data/A/A/C/TRAACQT128F9331780.json
MillionSongSubset/song_data/A/A/C/TRAACSL128F93462F4.json
MillionSongSubset/song_data/A/A/C/TRAACTB12903CAAF15.json
MillionSongSubset/song_data/A/A/C/TRAACVS128E078BE39.json
MillionSongSubset/song_data/A/A/C/TRAACZK128F4243829.json
MillionSongSubset/song_data/A/B/A/TRABACN128F425B784.json
MillionSongSubset/song_data/A/B/A/TRABAFJ128F42AF24E.json
MillionSongSubset/song_data/A/B/A/TRABAFP128F931E9A1.json
MillionSongSubset/song_data/A/B/A/TRABAIO128F42938F9.json
MillionSongSubset/song_data/A/B/A/TRABATO128F42627E9.json
MillionSongSubset/song_data/A/B/A/TRABAVQ12903CBF7E0.json
MillionSongSubset/song_data/A/B/A/TRABAWW128F4250A31.json
MillionSongSubset/song_data/A/B/A/TRABAXL128F424FC50.json
MillionSongSubset/song_data/A/B/A/TRABAXR128F426515F.json
MillionSongSubset/song_data/A/B/A/TRABAXV128F92F6AE3.json
MillionSongSubset/song_data/A/B/A/TRABAZH128F930419A.json
MillionSongSubset/song_data/A/B/B/TRABBAM128F429D223.json
MillionSongSubset/song_data/A/B/B/TRABBBV128F42967D7.json
MillionSongSubset/song_data/A/B/B/TRABBJE12903CDB442.json
MillionSongSubset/song_data/A/B/B/TRABBKX128F4285205.json
MillionSongSubset/song_data/A/B/B/TRABBLU128F93349CF.json
MillionSongSubset/song_data/A/B/B/TRABBNP128F932546F.json
MillionSongSubset/song_data/A/B/B/TRABBOP128F931B50D.json
MillionSongSubset/song_data/A/B/B/TRABBOR128F4286200.json
MillionSongSubset/song_data/A/B/B/TRABBTA128F933D304.json
MillionSongSubset/song_data/A/B/B/TRABBVJ128F92F7EAA.json
MillionSongSubset/song_data/A/B/B/TRABBXU128F92FEF48.json
MillionSongSubset/song_data/A/B/B/TRABBZN12903CD9297.json
MillionSongSubset/song_data/A/B/C/TRABCAJ12903CDFCC2.json
MillionSongSubset/song_data/A/B/C/TRABCEC128F426456E.json
MillionSongSubset/song_data/A/B/C/TRABCEI128F424C983.json
MillionSongSubset/song_data/A/B/C/TRABCFL128F149BB0D.json
MillionSongSubset/song_data/A/B/C/TRABCIX128F4265903.json
MillionSongSubset/song_data/A/B/C/TRABCKL128F423A778.json
MillionSongSubset/song_data/A/B/C/TRABCPZ128F4275C32.json
MillionSongSubset/song_data/A/B/C/TRABCRU128F423F449.json
MillionSongSubset/song_data/A/B/C/TRABCTK128F934B224.json
MillionSongSubset/song_data/A/B/C/TRABCUQ128E0783E2B.json
MillionSongSubset/song_data/A/B/C/TRABCXB128F4286BD3.json
MillionSongSubset/song_data/A/B/C/TRABCYE128F934CE1D.json
YOURNAME/test_export.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000000_000000.snappy.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000001_000000.snappy.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000002_000000.snappy.parquet
aamnah/172a5341ccd94b8f95dd05dc3410e9d0_000003_000000.snappy.parquet
aamnah/uploads/GOOG_NEW.csv
accidents/
accidents/accidents_2017_to_2023_english.csv
alexia/957133637c684b09a94cc753e0c594a2_000000_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000001_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000002_000000.snappy.parquet
alexia/957133637c684b09a94cc753e0c594a2_000003_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000000_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000001_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000002_000000.snappy.parquet
emma/3a1b7394faa84991a5e7700c963af73f_000003_000000.snappy.parquet
emma/uploads/wr_emma_stock
fabiola/a3a03886216d40279ccfca68cc237524.snappy.parquet
fabiola/test.csv
fabiola/uploads/wr_GOOG.csv
jaden/6e08eee074434aa7abda59ab22bc3ea7.snappy.parquet
jaden/test.csv
jaden/uploads/new_file.csv
michael/e798e42882254cf5a9e99351bd7626d6.snappy.parquet
miraj/aa649f748f1a444e98540e3bbe3135d1.snappy.parquet
miraj_jara/uploads/google_stock_data
shaswat/e4e70d26665c4d07af4bdaab85f8975e.snappy.parquet
shaswat/test.csv
shaswat/uploads/new_file.csv
stage/
stage/yellow_tripdata.csv
stage/yellow_tripdata.json
stage/yellow_tripdata.parquet
stocks/
stocks/GOOG.csv
suchitha/55bb31001ebb40eab50c449bb676aa7f.snappy.parquet
suchitha/uploads/sales.csv
tatwan/51addc9167684aa281c96fd5ae2d5be2.snappy.parquet
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tatwan/buffer.txt
taxi_data/
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000000_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000001_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000002_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000003_000000.snappy.parquet
taxi_data/yellow_tripdata_2024-01.parquet
taxi_data/yellow_tripdata_2024-02.parquet
taxi_data/yellow_tripdata_2024-03.parquet
taxi_data/yellow_tripdata_2024-04.parquet
tyler/3a63de0a979f4b22956d913074a48c24.snappy.parquet
tyler/uploads/goog_stock_file.csv
BLAKE/test.csv
BLAKE/test2.csv
BLAKE/test3.csv
BLAKE/test4.csv
BLAKE/upload_file_method_GOOG.csv
BLAKE_wr/uploads/wr_newfile.csv
Ben/gooooog.csv
Ben/test.csv
EMMA/emna_goog.csv
MELISSA/uploads/GOOG.csv
aamnah/uploads/GOOG_NEW.csv
accidents/accidents_2017_to_2023_english.csv
fabiola/test.csv
fabiola/uploads/wr_GOOG.csv
jaden/test.csv
jaden/uploads/new_file.csv
shaswat/test.csv
shaswat/uploads/new_file.csv
stage/yellow_tripdata.csv
stocks/GOOG.csv
suchitha/uploads/sales.csv
tatwan/GOOG.csv
tatwan/GOOG_NEW.csv
tyler/uploads/goog_stock_file.csv

In [6]:
s3_client.download_file(Bucket='techcatalyst-raw',  # from which bucket
                        Key='stocks/GOOG.csv', # what is the object name, this include the directory/key.csv
                        Filename='melissa_goog.csv') # Filename is what you want to call it once it is downloaded

import io
io_temp = io.BytesIO()
temp = s3_client.download_fileobj(Bucket='techcatalyst-raw', 
                           			Key='stocks/GOOG.csv',
                            		Fileobj=io_temp) # pass th io.BytesIO object

In [7]:
print(io_temp.getvalue()[:100])

b'Date,Open,High,Low,Close,Volume\r\n1/2/2025 16:00:00,191.49,193.2,188.71,190.63,17545162\r\n1/3/2025 16:'

In [8]:
with open('google_stock_downloaded.csv', 'wb') as f:
    f.write(io_temp.getvalue())

In [16]:
# uploading a local file using upload_file
s3_client.upload_file(Filename='melissa_goog.csv', # local file name
                      Bucket='techcatalyst-raw', # the bucket target
                      Key='MELISSA/uploads/GOOG.csv') # destination name, make sure it include YOURNAME/ANY_FILE_NAME.csv

In [17]:
in_memory_file = io.BytesIO(b"TESTING LAB 2")
s3_client.upload_fileobj(Fileobj= in_memory_file,
                          Bucket=  'techcatalyst-raw', # the bucket target
                          Key='MELISSA/uploads/fileobj.txt') # destination name, make sure it include YOURNAME/ANY_FILE_NAME.txt

In [18]:
# list objects in a specific bucket "techcatalyst-raw" with prefix "tatwan"
objects = s3_client.list_objects_v2(Bucket='techcatalyst-raw', Prefix='MELISSA/uploads/')
for obj in objects.get('Contents', []):
    print(obj['Key'])

MELISSA/uploads/GOOG.csv
MELISSA/uploads/fileobj.txt

LAB 3

In [1]:
# load your credentials
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
# import awswrangler
import awswrangler as wr

In [3]:
# test if you can read from a private bucket

df = wr.s3.read_csv('s3://techcatalyst-raw/stocks/GOOG.csv')
df.head()

                Date    Open    High     Low   Close    Volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

In [4]:
# the returned object is actuall a pandas DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    140 non-null    object
 1   Open    140 non-null    float64
 2   High    140 non-null    float64
 3   Low     140 non-null    float64
 4   Close   140 non-null    float64
 5   Volume  140 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 6.7+ KB

In [8]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0             aamnah_db
1           aamnah_taxi
2             alexia_db
3           alexia_logs
4           alexia_song
5      awswrangler_test
6                ben_db
7              ben_song
8              ben_taxi
9            blake_taxi
10          blake_wr_db
11              default  default database
12              emma_db
13            emma_taxi
14           fabiola_db
15         fabiola_taxi
16           jaden_taxi
17        jadenastle_db
18         melissa_logs
19        melissa_songs
20           michael_db
21             miraj_db
22           miraj_taxi
23                my_db
24           shaswat_db
25         shaswat_logs
26         shaswat_song
27         shaswat_taxi
28          suchitha_db
29        suchitha_taxi
30            tatwan_db
31  tatwan_inclass_demo
32          tatwan_taxi
33             tyler_db
34           tyler_taxi

In [9]:
name = "melissa"
database_name = f"{name}_db"
wr.catalog.create_database(database_name)

In [10]:
databases = wr.catalog.databases()
print(databases)

               Database       Description
0             aamnah_db
1           aamnah_taxi
2             alexia_db
3           alexia_logs
4           alexia_song
5      awswrangler_test
6                ben_db
7              ben_song
8              ben_taxi
9            blake_taxi
10          blake_wr_db
11              default  default database
12              emma_db
13            emma_taxi
14           fabiola_db
15         fabiola_taxi
16           jaden_taxi
17        jadenastle_db
18           melissa_db
19         melissa_logs
20        melissa_songs
21           michael_db
22             miraj_db
23           miraj_taxi
24                my_db
25           shaswat_db
26         shaswat_logs
27         shaswat_song
28         shaswat_taxi
29          suchitha_db
30        suchitha_taxi
31            tatwan_db
32  tatwan_inclass_demo
33          tatwan_taxi
34             tyler_db
35           tyler_taxi

In [11]:
wr.catalog.tables(database=database_name)

Empty DataFrame
Columns: [Database, Table, Description, TableType, Columns, Partitions]
Index: []

In [12]:
wr.s3.to_parquet(
    df=df, # the DataFrame you just created 
    path=f"s3://techcatalyst-raw/{name}/", # write to the techcatalyst-raw bucket under your folder name (or it would create a new folder if it does not exist)
    dataset=True, 
    database=database_name, # the name of the database you just created in AWS Glue 
    table=f"{name}_stocks", # pick a table name for example YOURNAME_STOCK
    mode='overwrite'
    )

{'paths': ['s3://techcatalyst-raw/melissa/f67b6c91a34d429b955df41b7e9af08c.snappy.parquet'],
 'partitions_values': {}}

In [13]:
wr.catalog.tables(database=database_name)

,Database,Table,Description,TableType,Columns,Partitions
0,melissa_db,melissa_stocks,,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [14]:
wr.catalog.tables(name_contains="stock")

,Database,Table,Description,TableType,Columns,Partitions
0,aamnah_db,aamnah_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
1,alexia_db,alexia_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
2,ben_db,ben_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
3,blake_wr_db,blake_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
4,emma_db,emma_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
5,fabiola_db,fabiola_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
6,jadenastle_db,jaden_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
7,melissa_db,melissa_stocks,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
8,michael_db,michael_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
9,miraj_db,miraj_google_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
10,shaswat_db,shaswat_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
11,suchitha_db,suchitha_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
12,tatwan_db,tatwan_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",
13,tatwan_inclass_demo,tatwan_goog_stock,,EXTERNAL_TABLE,"date, open, high, low, close, volume",
14,tyler_db,tyler_stock,This is my stock table.,EXTERNAL_TABLE,"date, open, high, low, close, volume",

In [15]:
df = wr.s3.read_parquet_table(database=database_name, 
                              table=f"{name}_stocks")

# Display the DataFrame's first few rows
df.head()

                date    open    high     low   close    volume
0  1/2/2025 16:00:00  191.49  193.20  188.71  190.63  17545162
1  1/3/2025 16:00:00  192.73  194.50  191.35  193.13  12874957
2  1/6/2025 16:00:00  195.15  199.56  195.06  197.96  19483323
3  1/7/2025 16:00:00  198.27  202.14  195.94  196.71  16966760
4  1/8/2025 16:00:00  193.95  197.64  193.75  195.39  14335341

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    140 non-null    string
 1   open    140 non-null    float64
 2   high    140 non-null    float64
 3   low     140 non-null    float64
 4   close   140 non-null    float64
 5   volume  140 non-null    Int64
dtypes: Int64(1), float64(4), string(1)
memory usage: 6.8 KB

In [17]:
wr.catalog.get_table_types(database=database_name, 
                           table=f"{name}_stocks")

{'date': 'string',
 'open': 'double',
 'high': 'double',
 'low': 'double',
 'close': 'double',
 'volume': 'bigint'}

In [18]:
table_details = wr.catalog.get_tables(database=database_name)

next(table_details)

{'Name': 'melissa_stocks',
 'DatabaseName': 'melissa_db',
 'CreateTime': datetime.datetime(2025, 8, 4, 23, 4, 16, tzinfo=tzlocal()),
 'UpdateTime': datetime.datetime(2025, 8, 4, 23, 4, 16, tzinfo=tzlocal()),
 'Retention': 0,
 'StorageDescriptor': {'Columns': [{'Name': 'date', 'Type': 'string'},
   {'Name': 'open', 'Type': 'double'},
   {'Name': 'high', 'Type': 'double'},
   {'Name': 'low', 'Type': 'double'},
   {'Name': 'close', 'Type': 'double'},
   {'Name': 'volume', 'Type': 'bigint'}],
  'Location': 's3://techcatalyst-raw/melissa/',
  'InputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat',
  'OutputFormat': 'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat',
  'Compressed': True,
  'NumberOfBuckets': -1,
  'SerdeInfo': {'SerializationLibrary': 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe',
   'Parameters': {'serialization.format': '1'}},
  'BucketColumns': [],
  'SortColumns': [],
  'Parameters': {'CrawlerSchemaDeserializerVersion': '1.0',
   'compressionType': 'snappy',
   'classification': 'parquet',
   'typeOfData': 'file'},
  'StoredAsSubDirectories': False},
 'PartitionKeys': [],
 'TableType': 'EXTERNAL_TABLE',
 'Parameters': {'compressionType': 'snappy',
  'classification': 'parquet',
  'projection.enabled': 'false',
  'typeOfData': 'file'},
 'CreatedBy': 'arn:aws:iam::535146832369:user/Melissa.Rivera-Franco',
 'IsRegisteredWithLakeFormation': False,
 'CatalogId': '535146832369',
 'VersionId': '0',
 'IsMultiDialectView': False}

In [19]:
# Example adding additional metadata information 

desc = "This is my stock table."
param = {"source": "Google", "class": "stock"}
comments = {
    "Date": "Trading Date",
    "Open": "Opening Price",
    "Close": "Closing Price"
}

wr.s3.to_parquet(
    df=df,
    path=f"s3://techcatalyst-raw/{name}/",
    dataset=True,
    database=database_name,
    table=f"{name}_stocks",
    mode='overwrite',
    glue_table_settings=wr.typing.GlueTableSettings(description=desc,  # here we are passing some metadata
                                                    parameters=param, 
                                                    columns_comments=comments),
    )

{'paths': ['s3://techcatalyst-raw/melissa/e963d46d95e047cb8aea1f194ae786f5.snappy.parquet'],
 'partitions_values': {}}

In [20]:
wr.catalog.table(database=database_name, table=f"{name}_stocks")

  Column Name    Type  Partition        Comment
0        date  string      False   Trading Date
1        open  double      False  Opening Price
2        high  double      False
3         low  double      False
4       close  double      False  Closing Price
5      volume  bigint      False

In [21]:
wr.s3.list_objects('s3://techcatalyst-raw/stage/')

['s3://techcatalyst-raw/stage/yellow_tripdata.csv',
 's3://techcatalyst-raw/stage/yellow_tripdata.json',
 's3://techcatalyst-raw/stage/yellow_tripdata.parquet']

In [22]:
wr.s3.download(path='s3://techcatalyst-raw/stocks/GOOG.csv', 
               local_file='./new_file.csv')

In [23]:
your_name = "MELISSA"
file_name = "new_file.csv"
wr.s3.upload(local_file='new_file.csv',path= f's3://techcatalyst-raw/{your_name}/uploads/{file_name}')

In [24]:
wr.s3.list_objects(f's3://techcatalyst-raw/{your_name}/uploads/')

['s3://techcatalyst-raw/MELISSA/uploads/GOOG.csv',
 's3://techcatalyst-raw/MELISSA/uploads/fileobj.txt',
 's3://techcatalyst-raw/MELISSA/uploads/new_file.csv']

In [5]:
# A name for the new Glue Database it should be YOURNAME_TAXI
db_name =  "melissa_taxi"

# A name for the table it should be YOURNAME_TRIPDATA
table_name =  "melissa_tripdata"

# the path_direcoty to should point to the bucket (main directory)
s3_path_directory = "s3://techcatalyst-raw/taxi_data/"

# The path_file should be the full path to the actual file
s3_path_file = 's3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-01.parquet'

In [6]:
import awswrangler as wr
# uncomment below if you ran into issues to clean things up and rerun the cell
# wr.catalog.delete_table_if_exists(database=db_name, table=table_name) 

# Create the new Glue database first based on the db_name you created
# wr.catalog.create_database(name=db_name)

# This function can extract the schema from our file and returns a tuple: (schema, partitions). We only need the schema. 
columns_types, partitions_types = wr.s3.read_parquet_metadata(path=s3_path_file)
print("Successfully read schema from Parquet file.")

Successfully read schema from Parquet file.

In [7]:
wr.catalog.create_parquet_table(
    database=db_name, # pass the database name
    table=table_name, # pass the table name
    path=s3_path_directory, # use the directoy here 
    columns_types=columns_types,  # Pass the schema here
    partitions_types=partitions_types
)
print(f"Table '{table_name}' created successfully in database '{db_name}'.")

Table 'melissa_tripdata' created successfully in database 'melissa_taxi'.

In [8]:
query = f"SELECT * FROM {table_name} LIMIT 5"

df = wr.athena.read_sql_query(query, database=db_name)

print("\nQuery Results:")
print(df)

Query Results:
   vendorid tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-04-03 17:01:56   2024-04-03 17:31:43              NaN
1         2  2024-04-03 17:42:09   2024-04-03 17:42:57              NaN
2         2  2024-04-03 17:49:47   2024-04-03 18:39:29              NaN
3         2  2024-04-03 17:58:05   2024-04-03 18:04:41              NaN
4         2  2024-04-03 17:27:15   2024-04-03 17:58:46              NaN

   trip_distance  ratecodeid store_and_fwd_flag  pulocationid  dolocationid  \
0           3.32         NaN               <NA>            87           186
1           0.00         NaN               <NA>           246           246
2           3.77         NaN               <NA>           236           234
3           0.70         NaN               <NA>           233           233
4           4.63         NaN               <NA>           237           246

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             0        35.56    0.0      0.5        0.00           0.0
1             0        14.22    0.0      0.5        3.64           0.0
2             0        35.71    0.0      0.5        0.00           0.0
3             0        14.22    0.0      0.5        2.73           0.0
4             0        31.38    0.0      0.5        0.00           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    1.0         39.56                   NaN          NaN
1                    1.0         21.86                   NaN          NaN
2                    1.0         39.71                   NaN          NaN
3                    1.0         20.95                   NaN          NaN
4                    1.0         35.38                   NaN          NaN

In [ ]:
import boto3
s3 = boto3.client("s3")

response = s3.list_objects_v2(Bucket="techcatalyst-raw", Prefix="taxi_data/")
for obj in response.get('Contents', []):
    print(obj['Key'])

taxi_data/
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000000_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000001_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000002_000000.snappy.parquet
taxi_data/8d12668ed190477fa03a29a0a5d50e84_000003_000000.snappy.parquet
taxi_data/yellow_tripdata_2024-01.parquet
taxi_data/yellow_tripdata_2024-02.parquet
taxi_data/yellow_tripdata_2024-03.parquet
taxi_data/yellow_tripdata_2024-04.parquet

In [ ]:
import awswrangler as wr
df_test = wr.s3.read_parquet(path=s3_path_file)
print(df_test.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2024-01-01 00:57:55   2024-01-01 01:17:43              1.0
1         1  2024-01-01 00:03:00   2024-01-01 00:09:36              1.0
2         1  2024-01-01 00:17:06   2024-01-01 00:35:01              1.0
3         1  2024-01-01 00:36:38   2024-01-01 00:44:56              1.0
4         1  2024-01-01 00:46:51   2024-01-01 00:52:57              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           1.72         1.0                  N           186            79
1           1.80         1.0                  N           140           236
2           4.70         1.0                  N           236            79
3           1.40         1.0                  N            79           211
4           0.80         1.0                  N           211           148

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2         17.7    1.0      0.5        0.00           0.0
1             1         10.0    3.5      0.5        3.75           0.0
2             1         23.3    3.5      0.5        3.00           0.0
3             1         10.0    3.5      0.5        2.00           0.0
4             1          7.9    3.5      0.5        3.20           0.0

   improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
0                    1.0         22.70                   2.5          0.0
1                    1.0         18.75                   2.5          0.0
2                    1.0         31.30                   2.5          0.0
3                    1.0         17.00                   2.5          0.0
4                    1.0         16.10                   2.5          0.0

In [6]:
wr.s3.list_objects(s3_path_directory)

['s3://techcatalyst-raw/taxi_data/8d12668ed190477fa03a29a0a5d50e84_000000_000000.snappy.parquet',
 's3://techcatalyst-raw/taxi_data/8d12668ed190477fa03a29a0a5d50e84_000001_000000.snappy.parquet',
 's3://techcatalyst-raw/taxi_data/8d12668ed190477fa03a29a0a5d50e84_000002_000000.snappy.parquet',
 's3://techcatalyst-raw/taxi_data/8d12668ed190477fa03a29a0a5d50e84_000003_000000.snappy.parquet',
 's3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-01.parquet',
 's3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-02.parquet',
 's3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-03.parquet',
 's3://techcatalyst-raw/taxi_data/yellow_tripdata_2024-04.parquet']

In [2]:
import boto3
s3_client = boto3.client("s3")

s3_client.upload_file(Filename='test.csv', # local file name
                      Bucket='techcatalyst-raw', # the bucket target
                      Key='MELISSA/test.csv')